@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&family=Inter:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #050505; /* Couleur de fond de sécurité */
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

#root { width: 100%; min-height: 100vh; }

/* Force le curseur normal partout */
* { cursor: auto; }

.font-sync { font-family: 'Syncopate', sans-serif; text-transform: uppercase; letter-spacing: -0.05em; }

@keyframes marquee { 0% { transform: translateX(0); } 100% { transform: translateX(-50%); } }
.animate-marquee { animation: marquee 20s linear infinite; }

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }